.container {
    text-align: center;
    max-width: 700px;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}
.paragraph {
    color: blueviolet;
}
.input {
    border-radius: 10px;
    height:50px;
    width:40%;
    border: 1px solid black;
}
.btn {
    border-radius: 10px;
    background-color: rgb(147, 62, 147);
    color: white;
    height: 50px;
    padding: 5px 10px;
    border: 1px solid black;
    cursor: pointer;
}
.btn:hover{
    background-color:  rgba(147, 62, 147, 0.749);

}