
.flexBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flexBox > div {
    flex-basis: 33%;
}
.flexBox > div > div > h1 > a{
    text-decoration: none;
    color: black;
}
.flexBox > div > div > h2 {
    color: rgb(147, 62, 147);
}

@media screen and (max-width:1024px) {
    .flexBox > div{
        flex-basis: 49%;
    }
    .flexBox {
        gap:25px 0px;
    }
}

@media screen and (max-width:425px) {
    .flexBox{
        justify-content: center;
    }
    .flexBox > div {
        flex-basis: 100%;
    }
}