.flexBox {
    display:flex;
    flex-direction: column;
    width: 100%;
    row-gap:40px ;
}
.flexBox > div> div > h1 > a{
    text-decoration: none;
    color: black;
}
@media screen and (max-width:425px) {
    .flexBox{
        flex-wrap: wrap;
        gap: 20px;
    }
    
}