
  .container {
    width: 90%;
    margin: 50px 5px;
  }
  .container > div {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px 30px;
  }
  .container > div > div:not(:first-child) > h2 {
    color: rgb(147, 62, 147);
  }
  .container > div > div:not(:first-child) > h1 > a{
    text-decoration: none;
    color: black;
  }
  .container > div > div:not(:first-child) > *{
    font-size: 2em;
  }
  .container > div > div:not(:first-child){
    width:90%;
  }

  @media screen and (max-width:768px){
    .container > div{
     grid-template-columns: auto;
    }
    .container{
        width: 99%;
    }
  }