.post-title{
    font-size: 100px;
    margin-bottom: 20px;
}
.post-info{
font-size: 20px;
margin: 10px 5px;
}
.flexBox {
    display: flex;
    gap: 40px;
    margin:50px 100px;
}
.flexBox > div:first-child {
    width: 33%;
}
.flexBox > div:first-child > div > div >div > p {
   display: none;
}
.flexBox > div:first-child > div > div >div > h1 {
    font-size: 1em;
 }
 .flexBox > div:first-child > div > div >div > h2 {
    font-size: 0.6em;
    color: rgb(147, 62, 147);
 }
 @media screen and (max-width:1080px) {
    .post-title{
        font-size: 70px;
    }
}

 @media screen and (max-width:768px) {
    .flexBox {
        margin: 50px 20px;
    }
    .post-title{
        font-size: 50px;
    }
}

@media screen and (max-width:425px) {
    .post-title{
        font-size: 40px;
    }
    .post-info{
        font-size: 10px;
    }
    .flexBox{
        flex-direction: column-reverse;
    }
    .flexBox > div:first-child {
        width: 100%;
    }
}
